@import "../../colors-palette";

form#vacancy {
  background-color: $GRAY;

  section {
    padding: 20px 30px 0;
    border-bottom: 1px solid $GRAY2;
  }

  .headline {
    margin-bottom: 10px;
    font-size: 1.882rem;
    line-height: 1;
    font-weight: 700;
  }

  label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
  }

  .ant-btn-primary {
    margin-right: 5px;
  }

  .ant-btn-text {
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    color: $RED;
  }

  .ant-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      margin: 0 0 5px;
    }

    .input-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      margin-bottom: 24px;

      .ant-input-affix-wrapper {
        width: 100px;
        &:first-child {
          margin-right: 10px;
        }
        &:nth-of-type(2) {
          margin-left: 10px;
        }
      }

      i {
        font-size: initial;
        line-height: inherit;
      }
    }
  }

  .custom-error {
    opacity: 1;
  }
}