@import "../../colors-palette";

.vacancy-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    display: flex;
    align-items: center;
  }

  .anticon-info-circle {
    margin: 2px 0 0 5px;
  }
}