@media screen and (max-width:1024px) {
  .vacancy-header, footer {
    padding: 0 20px;
  }

  .ant-modal-header {
    height: 56px;
  }

  .ant-modal-title {
    font-size: 24px;
  }

  form#vacancy {
    section {
      padding: 15px 24px 0 !important;
    }
    .headline {
      font-size: 18px !important;
    }

    label {
      font-size: 13px !important;
    }
  }

  .ant-modal-body {
    height: calc(100% - 56px) !important;
  }
}

@media screen and (max-width:680px) {
  html {
    font-size: 14px;
  }

  .vacancy-header {
    flex-direction: column;
    align-items: start !important;

    .modal-btn {
      margin-top: 15px;
    }
  }
  .vacancy-header, footer
  {
    .modal-btn {
      width: 100%;
    }
  }

  .custom-error {
    height: auto !important;
  }

  .input-wrapper {
    margin-bottom: 0 !important;
  }

  .ant-radio-group .input-wrapper .ant-input-affix-wrapper {
    width: 80px !important;
  }
}